@model IEnumerable<Mega_Music_School.Models.Video>
@{
    ViewData["Title"] = "GETTHE FULL GIST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <img src="~/images/Beauty.png" class="w-100 h-25" width="100" /></div>
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center text-danger">GET ENTERTAINED BY VIEWING OUR CONTENTS</h3>
                        @if (Model != null && Model.Count() != 0)
                        {
                            @foreach (var video in Model)
                            { 
                            var embeded = video.VideoLink.Replace("/watch?v=", "/embed/");
                                   <div class="card">
                                       <div class="card-body">
                                           <iframe src="@embeded"  height="380" width="700" title="@video.VideoName"frameborder="0" 
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen>
                                           </iframe>

                                           <h3 class="card-title">@video.VideoName</h3>
                                           <h5 class="card-title">@video.VideoDetails</h5>
                                           <h5 class="card-title">@video.DateAdded</h5>
                                       </div>
                                   </div>
                           }
                           }
                           else
                           {
                           <p>
                               <b>
                                   No video approved for now.
                               </b>
                           </p>
                           }
                       </div>
                    </div>
                </div>
            </div>
        </div>